@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Tektur", sans-serif;
}

section{
    height: 100dvh;
    background: #0F0529;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-inputs{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.content-inputs input{
    font-family: "Tektur", sans-serif;
    background: none;
    border: none;
    width: 50px;
    color: #fff;
    font-size: 25px;
}

.content-inputs input:focus{
    border: none;
    outline: 0;
}

.content-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    gap: 20px;
}

.content-btns button{
    font-family: "Tektur", sans-serif;
    color: #fff;
    cursor: pointer;
}

#hora{
    text-align: right;
}

#minuto{
    text-align: center;
}

#segundo{
    text-align: left;
}

#inserir{
    background: none;
    border: 1px solid #aec200;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

#parar{
    background: none;
    border: 1px solid #007acc;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

#continuar{
    background: none;
    border: 1px solid #22c24a;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}