@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(38, 2, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;

  section {
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 40px;
  }

  input {
    background: none;
    font-size: 40px;
    border: none;
    width: 100px;
    appearance: none;
    text-align: center;
    color: #fff;
    font-family: "Fira Code", monospace;
  }

  button {
    background: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s ease-in-out;
  }

  button:hover {
    background: #351e4e;
  }

  button:disabled {
    background: #746d6d;
  }
}
